@charset "utf-8";
@use "variables" as *;
@use "mixins" as *;

html {
  opacity: 0.01;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  &.is-visible {
    opacity: 1;
  }

  @include desktop {
    font-size: calc(100vw / 19.2);
  }

  @include mobile {
    @include scroll-hidden;

    min-height: 100vh;
    font-size: calc(100vw / 3.75);
  }
}

body {
  color: $color-default;
  font-family: $font-sans;
  line-height: $line-height;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  @include desktop {
    font-size: $font-size-pc;
    font-weight: $font-weight-pc;
  }

  @include mobile {
    font-size: $font-size-sp;
    font-weight: $font-weight-sp;
  }
}

img,
svg {
  image-rendering: smooth;
  shape-rendering: geometricprecision;
}

.hidden {
  display: none;
}

.trans {
  transition: opacity 0.3s ease;
  opacity: 1;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.load {
  opacity: 0.001;

  html.is-visible & {
    opacity: 1;
  }
}

.image-common {
  display: block;
  width: 100%;
}

.object-common {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  @include mobile {
    min-width: 320px;
  }
}

.wrapper {
  @include desktop {
    width: calc(100% - 0.6rem);
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: auto;
  }

  @include mobile {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}

.sm {
  @include desktop {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

.md {
  @include mobile {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
